<!--<app-user-test-->
<!--<app-map-page></app-map-page>-->
<!--<app-navigation-bar>-->
<!--  <app-map-page></app-map-page>-->
<!--</u-navigation-bar>-->
<!-- MICROFRONTENDS
  1. Ustawiam module federation dla aplikacji "spot" (shared)
  2. Ustawiam module federation dla aplikacji "user" (mf1) dla modułu "layout"
  3. Testuję wszystko na localhoście
  4. Jeśli nawigacja będzie ok, to testuję rozwiązanie dla proda
  5. Jeśli zadziała to commit
-->
app component!
<p>-----------------</p>
web component:
<app-web-component-wrapper></app-web-component-wrapper>
<p>-----------------</p>
module federation:

<router-outlet></router-outlet>
