<!--<ion-modal [isOpen]="true" [breakpoints]="[0.1, 0.5, 1]" [initialBreakpoint]="0.5" (ionModalDidDismiss)="close()">-->
<!--  <ion-content>-->
<!--    <ion-grid>-->
<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-img [src]="'https://dummyimage.com/600x400/9c369c/0011ff'"></ion-img>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-item>-->
<!--            <ion-avatar slot="start">-->
<!--              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />-->
<!--            </ion-avatar>-->
<!--            <ion-label>Krzysztof Kowalski</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-text>-->
<!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
<!--            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into-->
<!--            electronic typesetting, remaining essentially unchanged.-->
<!--          </ion-text>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-text>-->
<!--            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
<!--            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into-->
<!--            electronic typesetting, remaining essentially unchanged.-->
<!--          </ion-text>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-row>-->
<!--        <ion-col> <span>Comments</span><span>&nbsp;(10):</span> </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <p><span>No comments yet</span>&nbsp;😭</p>-->
<!--        </ion-col>-->
<!--      </ion-row>-->

<!--      <ion-card class="card card&#45;&#45;comment">-->
<!--        <ion-card-content>-->
<!--          <ion-row>-->
<!--            <ion-col style="max-width: 94px; left: -16px; cursor: pointer">-->
<!--              <div style="padding: 5px; width: 100px">-->
<!--                <ion-avatar style="margin: auto">-->
<!--                  <img src="'https://dummyimage.com/600x400/9c369c/0011ff'" />-->
<!--                </ion-avatar>-->
<!--                <div class="ion-margin-top" style="text-align: center">-->
<!--                  <span>Jan Kowalski</span><br />-->

<!--                  &lt;!&ndash; <ion-datetime display-format="h:mm A" picker-format="h:mm a" value="{{ comment.created_at.date }}" class="ion-no-padding"></ion-datetime> &ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--            <ion-col>-->
<!--              <p class="text">-->
<!--                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and-->
<!--                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap-->
<!--                into electronic typesetting, remaining essentially unchanged.-->
<!--              </p>-->
<!--              &lt;!&ndash;              <ion-datetime&ndash;&gt;-->
<!--              &lt;!&ndash;                style="position: absolute; bottom: 0; right: 0"&ndash;&gt;-->
<!--              &lt;!&ndash;                display-format="MMM DD, YYYY"&ndash;&gt;-->
<!--              &lt;!&ndash;                picker-format="MMM DD, YYYY"&ndash;&gt;-->
<!--              &lt;!&ndash;                value="2011-01-12"&ndash;&gt;-->
<!--              &lt;!&ndash;                class="ion-no-padding"></ion-datetime>&ndash;&gt;-->
<!--              &lt;!&ndash;              <ion-datetime value="2012-12-15T13:47:20.789"></ion-datetime>&ndash;&gt;-->
<!--            </ion-col>-->
<!--          </ion-row>-->
<!--        </ion-card-content>-->
<!--      </ion-card>-->
<!--    </ion-grid>-->
<!--  </ion-content>-->
<!--  &lt;!&ndash;  {{ spot$ | async }}&ndash;&gt;-->
<!--</ion-modal>-->

<!--<p-dialog position="bottom">-->
<!--    <ng-template pTemplate="header"> Header content here </ng-template>-->
<!--    Content-->
<!--    <ng-template pTemplate="footer"> //buttons </ng-template>-->
<!--</p-dialog>-->
<!--<router-outlet></router-outlet>-->
